{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'Biblioteca/css/estante.css' %}">
{% endblock %}

{% block content %}
<div class="pagina-estante">
  <div class="estante-header">
  <h2 class="estante-titulo">{{ estante.nome }}</h2>

  <form method="GET" action="{% url 'pesquisar_livros' %}" class="pesquisa-form">
  <input type="text" name="q" placeholder="Pesquisar livros..." required>
  <input type="hidden" name="estante_id" value="{{ estante.id }}">
  <button type="submit" aria-label="Pesquisar">+</button>
</form>
</div>

  <h3>Livros nesta estante:</h3>
  {% if livros %}
    <div class="estante-livros-grid">
      {% for livro in livros %}
        <div class="livro-card">
          {% if livro.capa %}
            <img src="{{ livro.capa.url }}" alt="Capa de {{ livro.titulo }}">
          {% else %}
            <img src="{% static 'imagens/capa_default.png' %}" alt="Sem capa">
          {% endif %}
          <h3>{{ livro.titulo }}</h3>
          <p>{{ livro.autor }}</p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Esta estante ainda não tem livros.</p>
  {% endif %}
</div>
{% endblock %}
