{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'Livros/css/avaliacoes.css' %}">
{% endblock %}

{% block content %}
<h2>Editar Comentário</h2>

<form method="POST" class="formulario">
  {% csrf_token %}
  <textarea name="comentario" rows="5" required>{{ avaliacao.comentario }}</textarea><br>
  <label for="avaliacao">Avaliação (1 a 5):</label>
  <input type="number" name="avaliacao" min="1" max="5" step="0.5" required value="{{ avaliacao.avaliacao }}"><br>
  <button type="submit" class="guardar">Guardar Alterações</button>
  <a href="{% url 'detalhe_livro' avaliacao.livro.id %}?voltar_para={{ request.path }}">Cancelar</a>
</form>
{% endblock %}
