{% extends 'base.html' %}
{% load static %}
{% load l10n %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'Livros/css/detalhes.css' %}">
{% endblock %}

{% block content %}
  {% if messages %}
    <div id="mensagens-flutuantes">
      {% for message in messages %}
        <div class="alerta {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}


<a href="javascript:history.back()" class="btn-voltar"> <i class="bi bi-chevron-left"></i> Voltar </a>
<div class="detalhes-livro-container">
  <div class="livro-topo">
    <div class="capa-box">
      {% if livro.capa %}
        <img src="{% if livro.id %}{{ livro.capa.url }}{% else %}{{ livro.capa }}{% endif %}" alt="Capa de {{ livro.titulo }}" class="capa-detalhe">
      {% else %}
        <img src="{% static 'imagens/capa_default.png' %}" alt="Capa padrão" class="capa-detalhe">
      {% endif %}
      {% if user.is_authenticated %}
      <div class="dropdown-adicionar">
        <button onclick="toggleAdicionarDropdown()" class="btn-adicionar-livro">Adicionar <span class="seta">▼</span></button>
        
        <div id="dropdown-adicionar-conteudo" class="dropdown-conteudo" style="display: none;"> 
        <span class="fechar-dropdown" onclick="fecharDropdown()">✕</span>
          <!-- Formulário para estante existente -->
          <form method="post" action="{% if livro.id %} {% url 'adicionar_livro_estante' %} {% else %} {% url 'guardar_livro_api' google_id=livro.google_id %}{% endif %}">
            {% csrf_token %}
            {% if livro.id %}
              <input type="hidden" name="livro_id" value="{{ livro.id }}">
            {% endif %}
            <label>Adicionar à estante:</label>
            <select name="estante_id" required>
              {% for estante in estantes %}
              <option value="{{ estante.id }}">{{ estante.nome }}</option>
              {% endfor %}
            </select>
            <button type="submit">Adicionar</button>
          </form>

          <!-- Criar nova estante e adicionar o livro -->
          <form method="post" action="{% if livro.id %}{% url 'criar_estante_e_adicionar_bd' %}{% else %}{% url 'criar_estante_e_adicionar_api' google_id=livro.google_id %} {% endif %}">
            {% csrf_token %}
            <input type="text" name="nome" placeholder="Nova estante" required>
            {% if livro.id %}
              <input type="hidden" name="livro_id" value="{{ livro.id }}">
            {% endif %}
            <button type="submit">Criar e Adicionar</button>
          </form>
        </div>
      </div>
      {% endif %}     
    </div>

    <div class="livro-info">
      <div class="titulo-avaliacao">
        <h1>{{ livro.titulo }}</h1>
        <span class="avaliacao-badge">
          {% if livro.id %}
            <strong>{{ livro.media_avaliacoes_individual|floatformat:"1" }} ⭐</strong>
          {% elif media_api %}
            <strong>{{ media_api|floatformat:"1" }} ⭐</strong>
          {% else %}
            <strong>N/A ⭐</strong>
          {% endif %}
        </span>
      </div>
      <p class="autor">{{ livro.autor }}</p>
      <div class="descricao">{% if livro.id %}{{ livro.sinopse }}{% else %}{{ livro.descricao|safe }}{% endif %}</div>



      <div class="tags-livro">
        {% if livro.id %}
          {% for genero in livro.generos.all %}
            <span class="tag">{{ genero }}</span>
          {% empty %}
            <span class="tag">Sem género disponível</span>
          {% endfor %}
        {% else %}
          {% for categoria in livro.categorias %}
            <span class="tag">{{ categoria }}</span>
          {% empty %}
            <span class="tag">Sem categoria disponível</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="avaliacoes-header">
  <h2>Avaliações e Comentários</h2>
  {% if user.is_authenticated %}
    <div class="comentario-wrapper">
      <button class="btn-toggle-comentario" onclick="toggleComentarioForm()">+ Comentar</button>
      <div class="comentario-dropdown" id="comentario-form" style="display: none;">
      <span class="fechar-form" onclick="fecharComentarioForm()">✕</span>
        <form action="{% if livro.id %}
                        {% url 'adicionar_comentario' livro_id=livro.id %}
                      {% else %}
                        {% url 'comentar_api' google_id=livro.google_id %}
                      {% endif %}" method="post">
          {% csrf_token %}
          <textarea name="comentario" placeholder="Escreve o teu comentário..." required></textarea>
          <input type="number" name="avaliacao" min="1" max="5" step="0.5" required placeholder="Avaliação (1 a 5)">
          <button type="submit" class="btn-comentar">Comentar</button>
        </form>
      </div>
    </div>
  {% endif %}
</div>

  {% if avaliacoes_api %}
    <p>{{ avaliacoes_api|length }} comentário(s)</p>
    {% for avaliacao in avaliacoes_api %}
      <div class="comentario">
        <div class="comentario-topo">
          {% if avaliacao.utilizador.foto_perfil %}
            <img src="{{ avaliacao.utilizador.foto_perfil.url }}" alt="Foto de perfil">
          {% else %}
            <img src="{% static 'imagens/perfil_default.png' %}" alt="Foto padrão">
          {% endif %}
          <div>
            <strong>{{ avaliacao.utilizador.nome }}</strong><br>
            <span class="data">{{ avaliacao.data|date:"d \d\e F \d\e Y \à\s H:i" }}</span>
          </div>
        </div>
        <p class="avaliacao-nota">⭐ {{ avaliacao.avaliacao|floatformat:"1" }}</p>
        <p class="texto">{{ avaliacao.comentario }}</p>
        {% if user == avaliacao.utilizador %}
          <div class="acoes-comentario">
            <a href="{% url 'editar_avaliacao_api' avaliacao.id %}" class="editar-link">Editar</a>
            <form method="POST" action="{% url 'remover_avaliacao_api' avaliacao.id %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="remover-link" onclick="return confirm('Tens a certeza que queres remover este comentário?')">Remover</button>
            </form>
          </div>
        {% endif %}

      </div>
    {% endfor %}
    {% elif avaliacoes_bd %}
    <p>{{ avaliacoes_bd|length }} comentário(s)</p>
    {% for avaliacao in avaliacoes_bd %}
      <div class="comentario">
        <div class="comentario-topo">
          {% if avaliacao.utilizador.foto_perfil %}
            <img src="{{ avaliacao.utilizador.foto_perfil.url }}" alt="Foto de perfil">
          {% else %}
            <img src="{% static 'imagens/perfil_default.png' %}" alt="Foto padrão">
          {% endif %}
          <div>
            <strong>{{ avaliacao.utilizador.nome }}</strong><br>
            <span class="data">{{ avaliacao.data|date:"d \d\e F \d\e Y \à\s H:i" }}</span>
          </div>
        </div>
        <p class="avaliacao-nota">⭐ {{ avaliacao.avaliacao|floatformat:"1" }}</p>
        <p class="texto">{{ avaliacao.comentario }}</p>
        {% if user == avaliacao.utilizador %}
          <div class="acoes-comentario">
            <a href="{% url 'editar_avaliacao' avaliacao.id %}" class="editar-link">Editar</a>
            <form method="POST" action="{% url 'remover_avaliacao' avaliacao.id %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="remover-link" onclick="return confirm('Tens a certeza que queres remover este comentário?')">Remover</button>
            </form>
          </div>
        {% endif %}

      </div>
    {% endfor %}
    {% else %}
      <p>Nenhuma avaliação disponível.</p>
    {% endif %}
</div>

<script src="{% static 'Livros/js/scripts.js' %}"></script>
{% endblock %}
